html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.keypad {
  display: flex;
}

.number-pad {
  flex: 4;
}

.text-operations {
  flex: 1;
}

.text-operations .button-group {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0;
  height: 50px;
  padding: 0;
  flex: 1;
}

.button-group .long-button {
  flex: 2;
}

.text {
  height: 30px;
  font-size: 20px;
}
